
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

p, div, section {
    box-sizing: border-box;
}

h1, h2, h3 {
    margin: 0;
}

/** Header Showcase **/

.grid {
    background: url(https://images.pexels.com/photos/248515/pexels-photo-248515.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center / cover;
}

.wrapper {
    padding-top: 100px;
    padding-bottom: 100px;
    max-width: 58%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    padding: 22px 35px;
    text-decoration: none;
    border: 1px solid #666;
}

.btn:hover {
    background-color: #fff;
    color: #333;
}

.main-wrapper {
    color: #000;
}

.main-wrapper__text_inside {
    display: inline-block;
    max-width: 411px
}

/**Section-SecondMain-wrapper**/

.secondMain-wrapper {
    background-color: #333;
    color: #000;
}

.tools {
    padding: 30px 0;
    max-width: 75%;
    margin: 0 auto;
}

.tools__block {
    background-color: #fff;
    display: inline-block;
    width: 28%;
}

.tools__picture {
    width: 100%;
}

/*Section-number3*/

.section-number3 {
    padding: 40px 0;
    width: 70%;
    color: #000;
    margin: 0 auto;
}

/*More-info*/

.More-info {
    display: flex;
    align-items: center;
}

.footer {
    background-color: #000;
    width: 100%;
}

.contact, .about {
    height: 300px;
    font-size: 18px;
    width: 50%;
    padding: 25px 40px;
    display: inline-block;
}

.contact {
    background-color: #2690d4;
}

.about {
    background-color: #333;
}

/*Footer*/

.footer-div1, .footer-div2 {
    display: inline-block;
    max-width: 50%;
    height: 100px;
}

.footer-div1 {
    margin-right: 450px;
}

.footer-div2 span {
    color: #2690d4;
}
